= content_for :head do
  = stylesheet_link_tag "dashboard"
%section#editor
%section#tasks
  %ul(ng-controller="tasks")
    %li{"ng-repeat" => "task in tasks",
        "ng-click"  => "toggle_task($index)",
        "ng-class"  => "{true: 'active'}[task.active]" }
      .view= link_to "view notes", "#"
      .complete= link_to "complete", "#"
      .name {{task.name}}
