- content_for :sub_header do
  %article.about_treefinger
    %header
      %ul
        %li TreeFinger is a project and task manager.
        %li It's made for people who hate using project and task managers.
        %li TreeFinger uses a simple sintax to manages task items;
        %li It's just indenting (that thing you learned in elementary school).
        %li Add and edit items(stories) and descriptions very quickly.
        %li So managing your workflow doesn't get in the way of your workflow
        %li and you can ride ponies with all the time you saved.
        %li Hell Yeah! Ponies!
  
%article.sign_up
  %form
    .field
      %input{ type: "text", placeholder: "username" }
    .field
      %input{ type: "text", placeholder: "email" }
    .field
      %input{ type: "password", placeholder: "password" }
    .field
      %input{ type: "password", placeholder: "password confirmation" }
