%article#home
  %header
    %h1 A project & task manager
    %h2 for people who hate using project and task managers
  %p Tree Finger is the world’s simplest project manager: just add and edit items using indentation (that thing you learned in elementary school).  Managing your workflow has never been easier!
  %footer Use treefinger and ride ponies with the time you save

%aside#sign_up
  %h1
    Sign up
    %small or
    %a(href="#") sign in with github

  %form
    %fieldset
      %dl
        %dt
          %label Username
        %dd
          %input(type="text")
        %dt
          %label Email address
        %dd
          %input(type="email")
        %dt
          %label Password
        %dd
          %input(type="password")
        %dt
          %label Confirm Password
        %dd
          %input(type="password")
    %fieldset
      %input(type="submit" value="Sign Up")
