/*
 *= require_self
 */

@import mixins

html
  height: 100%
  body
    height: 100%
    font-family: Arial, sans-serif
    font-size: 14px
    word-spacing: 1px
    +box-sizing(border-box)
    color: #444
    header
      +gradient-bg(#000, #333)
      color: #ccc
      h1
        color: #ffffff
        a
          color: #fff
          font-family: 'Oleo Script', cursive
          text-decoration: none
    a
      text-decoration: underline
      color: #ccc
    form
      .field
        padding: 8px
        input
          +border-radius(3px)
        input[type=text], input[type=password]
          width: 225px
          border: 1px solid #888888
          padding: 8px 8px
          color: #444444
        input[type=submit]
          +button(#2d9a27, #175e13)
          float: right
          font-weight: bold
