/*
 *= require_self
 */

@import "mixins"

+font-face("Mathlete Bulky", "Mathlete-Bulky")
+font-face("Mathlete Bulky Slant", "Mathlete-BulkySlant")
+font-face("Mathlete Skinny", "Mathlete-BulkySlant")
+font-face("Mathlete Skinny Slant", "Mathlete-BulkySlant")

$task_title_color: #9ace50
$body_color: #faf9f7


html, body, section#content
  +calc-height("100% - 25px")

#project
  height: 100%

body
  line-height: 120%

form
  font-size: 13px
  color: #999898
  font-family: Helvetica, Arial, sans-serif

  input[type="text"], input[type="email"], input[type="password"]
    border: solid 1px #d5d5d5
    height: 28px
    width: 165px
    padding: 0 5px
    +box-sizing

  input[type="submit"]
    background: #83c12a
    font: bold 13px Helvetica, sans-serif
    color: #ffffff
    border: none
    padding: 0 15px
    height: 28px

#main_container
  padding: 0 100px
  background: image-url("background.png") 0 45px no-repeat
  max-width: 1000px
  min-width: 800px
  margin: 0 auto
  overflow: hidden

header
  padding: 20px 0 0 0
  position: relative
  h1
    display: block
    font-size: 1px
    text-indent: -6969px
    overflow: hidden
    background: transparent image-url("logo.png") 0 0 no-repeat
    height: 45px
    width: 111px
  form.sign_in
    position: absolute
    top: 20px
    right: 0
    fieldset
      display: inline-block
      dl
        float: left
        padding: 0 15px 0 0
      &.actions
        vertical-align: 10px

article#home
  float: left
  position: relative
  height: 450px
  padding: 60px 0 0 0
  header
    padding: 40px 0 0 40px
    display: block
    font-size: 1px
    overflow: hidden
    background: transparent image-url("title_background.png") 0 0 no-repeat
    height: 220px
    width: 685px
  h1
    display: block
    background: transparent image-url("title.png") 0 0 no-repeat
    text-indent: - 6969px
    overflow: hidden
    height: 115px
    width: 590px

  h2
    font: normal 42px "Mathlete Skinny", sans-serif
    color: #787575
  p
    width: 275px
    font-family: Helvetica, Arial, sans-serif
    font-size: 18px
    color: #6a6a6a
    margin: 0 0 0 25px
  footer
    position: absolute
    z-index: 1
    right: 45px
    bottom: 0
    background: image-url("pony.png") 0 0 no-repeat
    width: 333px
    height: 244px
    text-indent: -6969px
    overflow: hidden

aside#sign_up
  vertical-align: top
  float: right
  width: 268px
  h1
    font: normal 43px "Mathlete Skinny"
    color: #3f3e3e
    padding: 60px 0 25px 0
    background: image-url("free.png") 40px 35px no-repeat
    small
      font-size: 28px
      color: #787878
    a
      font-size: 28px
      color: #ffffff
      background: #898a88
      padding: 0 10px 3px 10px
      text-decoration: none
      vertical-align: 4px
  input
    width: 100%
    height: 40px
  dd
    padding: 0 0 15px 0

header#main
  position: relative
  padding: 10px 20px
  h1, h2
    display: inline-block
  h2
    font: normal 39px "Mathlete Skinny", sans-serif
    color: #686767
    &:before
      content: "/"
  section.session, nav.project_nav a
    font-family: verdana, sans-serif
    color: #686767

  section.session
    position: absolute
    right: 30px
    top: 10px
    font-size: 13px
    a
      color: #686767
    span.user
      font-weight: bold

  nav.project_nav
    position: absolute
    right: 35px
    top: 45px
    a
      margin: 0 3px
      font-size: 14px

#project
  padding: 0 20px
  overflow: hidden
  clear: both
  form
    dd
      padding: 0 0 15px 0

  &> section
    background: #525050
    float: left
    vertical-align: top
    max-height: 100%
    min-height: 100%
    margin: 0
    border: solid 1px #3d3c3c

#content ul.projects
  padding: 10px 20px
  font-family: verdana, sans-serif
  li
    a
      font: normal 36px "Mathlete Bulky", sans-serif
      letter-spacing: 2px
      color: #686767
      text-decoration: none
      &:hover
        text-decoration: none

section#editor_border
  width: 15px
  border: none

section#editor
  +calc-width("35% - 32px")
  padding: 3px 10px 0 0
  font-size: 14px
  +box-sizing
  font-family: monaco, sans-serif
  line-height: 120%
  outline: 0px
  font-family: monaco, sans-serif
  border-left: solid 1px #605e5e
  overflow: auto
  div
    display: block
    min-height: 14px
    width: 100%
    border: none
    white-space: pre
    +tab-size(2)
  &>div
    display: none
  &>div.active
    display: block
  .title
    color: $task_title_color
    font-weight: bold
  .description
    color: #222222
    color: #faf9f7
    white-space: pre

section#tasks
  width: 35%
  font-family: monaco, sans-serif
  font-size: 13px
  li
    padding: 1px 0 1px 15px
    margin: 0
    position: relative
    cursor: pointer
    height: 19px
    clear: both
    a.name
      display: inline-block
      color: #9ace50
      text-decoration: none

      +calc-width("100% - 85px")
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      &:hover
        text-decoration: underline
    &:hover
      background: #616161
    &.active
      .left_arrow
        display: block
        position: absolute
        width: 30px
        height: 22px
      .left_arrow
        left: -16px
        top: 3px
        background: image-url("left_arrow.png") no-repeat
    &.noted
      .right_arrow
        display: block
        position: absolute
        width: 30px
        height: 22px
      .right_arrow
        right: -24px
        top: 3px
        right: -13px
        top: 1px
        background: image-url("right_arrow.png") no-repeat
  .actions
    float: right
  .notes, .status
    display: inline-block
    color: $body_color
    text-decoration: none
    &:hover
      text-decoration: underline
  .notes
    font-size: 20px
  .status
    margin-right: 10px

section#notes
  width: 30%
  padding: 5px 15px 20px 15px
  +box-sizing(border-box)
  font-family: verdana, sans-serif
  font-size: 14px
  color: #c6c3c3
  color: $body_color
  line-height: 120%
  form.new_note
    display: none
    &.active
      display: block
    textarea
      width: 100%
      height: 100px
      background: #3d3c3c
      font-family: verdana, sans-serif
      color: #c6c3c3
      padding: 5px
      +box-sizing(border-box)
      font-size: 14px
    fieldset.actions
      float: right
      a
        margin: 0 10px
        text-decoration: none
        color: #d96e5d
  .note_container
    clear: both
  p.username
    color: #5db7d9
    font-weight: bold
    float: right
  p.note
    border-top: solid 1px #605e5e
    padding: 5px 0
    &:first-child
      border-top: none
